@page
@model QuizzApp.Pages.Quizzes.EditQuizModel
@{
}
<h2 class='header text-primary'>Edit Your quizz</h2>
<hr />
<form method='post' class='p-3'>
	<div class="container mb-5">
		<div class="row d-flex justify-content-between">
			<div class="col-5">
				<label asp-for="Quiz.Title" class="col-form-label-lg"></label>
				<input asp-for="Quiz.Title" type="text" class="form-control form-control-lg" placeholder="Quiz title" />
				<span asp-validation-for="Quiz.Title" class="text-danger"></span>
			</div>
			<div class="col-5">
				<label asp-for="Quiz.Threshold" class="col-form-label-lg"></label>
				<input asp-for="Quiz.Threshold" type="range" class="form-range" min="0" max="100" step="5" oninput="updateInputValue(this.value)">
				<output id="slider-value">@Model.Quiz.Threshold</output>
			</div>
		</div>
	</div>
	<div class='questions mb-2 mt-4'>
		@for(int i = 0; i < Model.Questions.Count; i++)
		{
			<div class='question container mb-4'>
				<div class='row'>
					<div class="col-11">
						<input asp-for='@Model.Questions[i].QuestionContent' type='text' class='question-input form-control form-control-lg' value='@Model.Questions[i].QuestionContent' />
						<span asp-validation-for='@Model.Questions[i].QuestionContent' class="question-error text-danger"></span>
					</div>
					<div class="col-1">
						<button type="button" class="remove-question btn btn-lg btn-primary col-11">-</button>
					</div>
				</div>
				@foreach(var answer in Model.Questions[i].Answers)
				{
					<div class='row mt-2 g-1'>
						<div class='col-11'>
							<input asp-for='@answer.AnswerContent' type='text' class='answer-input form-control' value='@answer.AnswerContent' />
							<span asp-validation-for="@answer.AnswerContent" class="answer-error text-danger"></span>
						</div>
						<div class="col-1">
							<input asp-for='@answer.IsCorrect' type="checkbox" title="Correct answer" class="is-correct-input col-5" value="@answer.IsCorrect" />
							<button type="button" class="remove-answer btn btn-primary col-5">-</button>
						</div>
					</div>
				}
				<button type='button' class='add-answer btn btn-primary mt-2'>+</button>
			</div>
		}
		
	</div>

	<div class="container">
		<button type='button' id='add-question' class='btn btn-primary mt-3 col-2'>Add next question</button>
	</div>

	<div class='row justify-content-center'>
		<button type='submit' class='create_quiz btn btn-lg btn-primary mt-3 col-2'>Create quiz</button>
	</div>
</form>


@section Scripts
{	
	<script type="text/javascript" src="~/js/quiz.js"></script>
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}