@page
@model QuizzApp.Pages.Quizzes.SolveQuizModel
@{
}

<h2 class='header text-primary col-5'>@Model.Quiz.Title</h2>
<hr />

<form method='post' class='p-3'>
	<input asp-for="Quiz.Id" type="hidden" value="@Model.Quiz.Id" />
	<input asp-for="FirstName" type="hidden" value="@Model.FirstName" />
	<input asp-for="LastName" type="hidden" value="@Model.LastName" />
	<div class='questions mb-2 mt-4'>
		@{int k = 0;
		@foreach(var question in Model.Quiz.Questions)
		{
			<div class='question container mb-4'>
				<div class='row mb-3 border border-2 border-primary rounded'>
					<div class="col-12">
						<h3 class="mb-4 mt-4">@question.QuestionContent</h3>
					</div>
				</div>
				@foreach(var answer in question.Answers)
				{
					<div class='row border border-2 border-primary rounded mb-2 '>
						<div class='col-11'>
							<p class="mt-3">@answer.AnswerContent</p>
						</div>
						<input asp-for="@Model.IsAnswerCorrect[k]" type="checkbox" title="Correct answer" class="col-1 mt-3" style="height: 25px" />
					</div>
					k++;
				}
			</div>
		}
		}
	</div>

	<div class='row justify-content-center'>
		<button type='submit' class='create_quiz btn btn-lg btn-primary mt-3 col-2'>Submit</button>
	</div>
</form>
