@page
@model QuizzApp.Pages.Quizzes.SolveQuizModel
@{
}

<h2 class='header text-primary col-5'>@Model.Quiz.Title</h2>
<hr />

<form method='post' class='p-3'>
	<input asp-for="Quiz.Id" type="hidden" value="@Model.Quiz.Id" />
	<input asp-for="FirstName" type="hidden" value="@Model.FirstName" />
	<input asp-for="LastName" type="hidden" value="@Model.LastName" />
	<ul class="list-unstyled">
		@{int k = 0;
		@foreach(var question in Model.Quiz.Questions)
		{
			<li class="container mb-5">
				<div class='row mb-3 border border-2 border-primary rounded bg-primary bg-opacity-25'>
					<h3 class="mb-4 mt-4">@question.QuestionContent</h3>
				</div>
				@for (int i = 0; i < question.Answers.Count; i++)
				{
					<ul class="list-unstyled">
						<li class="container p-0">
							<div class='row border border-2 border-primary rounded mb-2 align-items-center p-2'>
								<div class='col-11'>
									<p class="mb-0">@Model.letters[i]) @question.Answers[i].AnswerContent</p>
								</div>
								<input asp-for="@Model.IsAnswerCorrect[k]" type="checkbox" title="Correct answer" class="col-1"  style="height: 25px" />
							</div>
						</li>
					</ul>
					k++;
				}
			</li>
		}
		}
	</ul>

	<div class='row justify-content-center'>
		<button type='submit' class='create_quiz btn btn-lg btn-primary mt-3 col-6 col-sm-3'>Submit</button>
	</div>
</form>
